/*  Sharepoint Reset */
/* These styles hide all Sharepoint elements on the page except your Script Editor / Content.  Be very careful with this!  You will need some way to unhide the suiteBar so you can edit the page at some point. */
.ms-backgroundImage {
  font-size: 1em !important;
}

/* Hide sidebar, suiteBar, and ribbon in Sharepoint.   */
#suiteBar,
#s4-ribbonrow,
#s4-titlerow,
#sideNavBox,
.ms-rte-layoutszone-inner > p  {
display: none !important;
}

/* Show suitebar and ribbon when body has an 'is-admin' class.  */
.show-sharepoint #suiteBar,
.show-sharepoint #s4-ribbonrow {
    display: block !important;
}


/* delete spacing for other misc SP elements */
#contentBox,
#contentRow,
#layoutsTable > tbody > tr > td,
.ms-wikicontent,
.ms-rte-layoutszone-inner  {
margin: 0 !important;
padding: 0 !important;
border: none !important;
}
